
body {
    font-family: "helvetica";
}

.select-container {
    margin: 0px;
}







.scatter_container .topselect {
  display: inline-block;
}

.scatter_container .bottomselect {
  display: inline-block;
}


.scatter_container .top-bottom-container {
  text-align: center;
}

/* .bootstrap-select .filter-option { white-space: normal; } */

.bootstrap-select {
    width: 500px !important;
}
.list-group {
    width: 500px;
}


.scatter_container .btn {
  width: 500px;
}



.plot_container {
  text-align: center;
  align-content: center;
}



.hover-container {
  display: inline-block;
  min-height: 50px;
  margin: 10px;
  /* min-width: 400px;
  background-color: rgb(211, 211, 211);
  border-color: rgb(163, 163, 163);
  border-width: 1px;
  border-radius: 5px;
  border-style: solid; */
  margin: 15px;
  padding: 5px;
  text-align: center;
  align-self: center;
  align-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none

}

.hover-top-container {
  display: block;
  text-align: center;
  

}

.axis, text {
    -webkit-touch-callout: none;
    -webkit-user-select: none
}


circle, rect {
    /* shape-rendering: crispEdges */
}



.hist-hover {
    fill: red;
  }
  
  
  
  .hist {
    fill: #69b3a2;
  }
  
  
  
.slidecontainer {
    width: 100vw; 
    text-align: center !important;
    align-self: center !important;
    margin-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .slidecontainer .slider {
    width: 500px;

  }
  .slidecontainer div {

    font-size: 14px;
  }


.select-top-container div {
  font-size: 14px;
  width: 100vw;
}



  /* The slider itself */
  .slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 100%; 
    height: 25px; 
    background: #d3d3d3; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
  

  .slider:hover {
    opacity: 1; 
  }
  
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background:rgb(100, 100, 100); 
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: rgb(20,20,20); 
    cursor: pointer;
  }
  




.select-container {
    text-align: center;

}

.scatter-container {
  align-content: center;
  text-align: center;
}



.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}


.nav-link:hover {
  transition: border-color 100ms, background-color 100ms ease-in-out;
  border-right-color: rgb(207, 207, 207) !important;

  border-left-color: rgb(207, 207, 207) !important;

  border-top-color: rgb(207, 207, 207) !important;
  /* border-width: 5px; */
  background-color:rgb(224, 224, 224) !important;
}


.nav {
  -webkit-touch-callout: none;
  -webkit-user-select: none
}

.nav-tabs {
  margin-left: 10px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(231, 231, 231);
  border-bottom-color:rgb(184, 184, 184);
  border-bottom-style: solid;
  border-bottom-width: .1px;
  position: fixed;
  height: 80px;
  top:0;
  overflow: hidden;
  width: 100%;
  z-index: 999;
  -webkit-touch-callout: none;
  -webkit-user-select: none
}

.header .active, .main-container {
  background-color: rgb(255, 255, 255) !important;
  
}

.body-container {
  margin-top: 80px;
}

h4 {
  padding-top: 10px;
  font-family: Futura LT MD
}


/* .hist_container, .scatter_container, .line_container, .heatmap_container {
  text-align: center !important;
  align-content: center !important;
} */



table, th, td {
  border-bottom-color: rgb(187, 187, 187);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

table {
  margin: 10px;
  margin-bottom: 50px;
  align-self: center;
}


.header-row th {
  border-bottom-color: rgb(20,20,20);

}


/* .table-title {
margin: 10px;
margin-bottom: 20px;
}



.table-container {
  width: 100vw;
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
  align-content: center;
} */

.table-container h4 {
  /* width: 100vw; */
  /* text-align: center; */
margin: 0 !important;
  /* align-content: center; */
}




.line_container .multi-select-container {
margin-top: 80px;
}


.hist_container .multi-select-container, .hist_container .slidecontainer, .hist-hover {
  margin-right: 400px;
}





.btn {
  background: rgb(220, 220, 220);
  }


.btn:hover {
  background:  rgb(165, 165, 165);
  
}


.blank-cell {
  height: 40px;
  border-style: none;
  border-bottom-style: hidden;
  border-width: 0px;
}




.main-container {
  text-align: center;
}



.legend-title {
  font-size: 14px;
  /* font-family: 'Futura LT BT'; */
}


.legend-text {
  font-size: 12px;
}



.main-container {
  /* -webkit-touch-callout: none;
  -webkit-user-select: none */
}


.threshcontainer {
  display: block;
  margin: 20px;
  text-align: center;
  align-self: center;
  padding-left: 42vw;
}

.threshcontainer input {
  width: 250px;
  display: block;
  font-size: 12px;
  padding: 5px;
  padding-left: 10px;
  margin: 5px;
}





div .dropzone {
    /* positions to point 0,0 - required for z-index */
    position: fixed; top: 0; left: 0; 
    /* above all elements, even if z-index is used elsewhere
       it can be lowered as needed, but this value surpasses
       all elements when used on YouTube for example. */
    z-index: 9999999999;               
    /* takes up 100% of page */
    width: 100%; height: 100%;         
    /* dim the page with 50% black background when visible */
    background-color: rgba(0,0,0,0.5);
    /* a nice fade effect, visibility toggles after 175ms, opacity will animate for 175ms. note display:none cannot be animated.  */
    transition: visibility 175ms, opacity 175ms;

}








.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
  padding: 10px;
  font-family: Helvetica;

}

label {
  font: Helvetica;
}

.inputfile + label {
  color: white;
  background-color: gray;
  display: inline-block;
  padding: 10px;
  padding: 10px;
  font-family: 'helvetica';
  border-radius: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgb(90, 90, 90);
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile + label {
  pointer-events: pointer; /* "hand" cursor */
  -webkit-touch-callout: none;
  -webkit-user-select: none
}
